.screen_fifth {
    display: flex;
}

.block5_1 {
    width: 38vw;
    height: 24vw;
    display: flex;
    flex-direction: column;
}

.block5_1:hover {
    background-color: rgba(188, 188, 188, 1);
}

.block5_1_pulse {
    width: 38vw;
    height: 24vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.pulse_scr5 {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: white;
    border: black solid 0.3vw;
    position: relative;
}

.pulse_scr5 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black solid 0.3vw;
    border-radius: 50%;

    animation: pulse 3s linear infinite;
    animation-delay: calc(var(--i)*-0.6s);
}

.block5_1_rounds {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -15.5vw;

}


.block5_2 {
    width: 38vw;
    height: 24vw;
    background: url(../img/Running_text.gif);
    background-size: contain;
}

.block5_3 {
    width: 24vw;
    height: 24vw;
    background: rgba(188, 188, 188, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img_block5_3 {
    width: 23vw;
    height: 23vw;
    background: url(../img/block5_3.png) no-repeat;
    background-size: cover;
    animation: block5_3_tortion 3s linear infinite;
}

.img_block5_3:hover {
    animation-play-state: paused;
}

@keyframes block5_3_tortion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px) {
    .block5_1 {
        display: none;
    }

    .block5_2 {
        width: 62vw;
        height: 38vw;
        background-size: cover;
    }

    .block5_3 {
        width: 38vw;
        height: 38vw;
    }

    .img_block5_3 {
        width: 36vw;
        height: 36vw;
    }
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    .screen_fifth {
        flex-direction: column;
    }

    .block5_1 {
        display: none;
    }

    .block5_2 {
        width: 100vw;
        height: 65vw;
    }

    .block5_3 {
        width: 100vw;
        height: 100vw;
    }

    .img_block5_3 {
        width: 93vw;
        height: 93vw;
    }
}