.second_screen {
    display: flex;
}

.vinyl_player {
    width: 62vw;
    height: 48vw;
    background: url(../img/vinyl_player_background.svg);
    background-size: contain;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vinyl_record {
    width: 42.5vw;
    height: 42.5vw;
    background: url(../img/vinyl_record_first_layer.png) no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vinyl_record_second_layer {
    width: 42.1vw;
    height: 42.1vw;
    background: url(../img/vinyl_record_second_layer.png) no-repeat;
    background-size: contain;
    animation: vinyl_tortion 2s linear infinite;
}

.tone_arm {
    width: 28vw;
    height: 48vw;
    background: url(../img/tone_arm.svg) no-repeat;
    background-size: contain;
    margin-left: -15vw;
    animation: tone_arm 3.5s ease-in-out infinite;
}

@keyframes vinyl_tortion {
    0% {
        transform: rotate(0deg);
    }

    12% {
        transform: rotate(1deg);
    }

    25% {
        transform: rotate(0.5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    92% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes tone_arm {
    0% {
        transform: rotate(-3deg);
        transform-origin: 21vw 11vw;
    }

    50% {
        transform: rotate(4.5deg);
        transform-origin: 21vw 11vw;
    }

    100% {
        transform: rotate(-3deg);
        transform-origin: 21vw 11vw;
    }
}

.vinyl_records {
    width: 38vw;
    height: 48vw;
    background-color: black;
    border-left: white solid 0.28vw;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    overflow-x: hidden;
}

.vinyl_case {
    width: 9.3vw;
    background: url(../img/vinyl_record_case.svg);
    background-size: contain;

    margin-left: -2vw;
    position: relative;
    padding-top: 4vw;
    padding-left: 3.5vw;
}

.vinyl_records_text {
    font-family: "EucidCircularB-Light";
    font-size: 4.5vw;
    text-transform: uppercase;

    transform: rotate(90deg);
    display: flex;
    justify-content: baseline;
}

.vinyl_case:hover {
    background: url(../img/vinyl_record_case_hover.svg);
    background-size: contain;
    margin-left: -0.75vw;
}

.exhibitions:hover {
    cursor: url(../img/exhibitions.png), pointer;
}

.exhibitions:hover~.defolt_v_c {
    display: none;
}

.lectures:hover {
    cursor: url(../img/lectures.png), pointer;
}

.lectures:hover~.defolt_v_c,
.lectures:hover~.exhibitions_v_c {
    display: none;
}

.workshops:hover {
    cursor: url(../img/workshops.png), pointer;
}

.workshops:hover~.defolt_v_c,
.workshops:hover~.exhibitions_v_c,
.workshops:hover~.lectures_v_c {
    display: none;
}

.seminars:hover {
    cursor: url(../img/seminars.png), pointer;
}

.seminars:hover~.defolt_v_c,
.seminars:hover~.exhibitions_v_c,
.seminars:hover~.lectures_v_c,
.seminars:hover~.workshops_v_c {
    display: none;
}

.projects:hover {
    cursor: url(../img/projects.png), pointer;
}

.projects:hover~.defolt_v_c,
.projects:hover~.exhibitions_v_c,
.projects:hover~.lectures_v_c,
.projects:hover~.workshops_v_c,
.projects:hover~.seminars_v_c {
    display: none;
}

.vinyl_cover {
    width: 16.8vw;
    height: 16.8vw;
    position: absolute;
    margin-left: -43vw;
    margin-top: 15.5vw;
    animation: vinyl_cover_spinning 5s linear infinite;
}

.defolt_v_c {
    background: url(../img/vinyl_cover.svg);
    background-size: contain;
}

.exhibitions_v_c {
    background: url(../img/exhibitions_vinyl_cover.svg);
    background-size: contain;
}

.lectures_v_c {
    background: url(../img/lectures_vinyl_cover.svg);
    background-size: contain;
}

.workshops_v_c {
    background: url(../img/workshops_vinyl_cover.svg);
    background-size: contain;
}

.seminars_v_c {
    background: url(../img/seminars_vinyl_cover.svg);
    background-size: contain;
}

.projects_v_c {
    background: url(../img/projects_vinyl_cover.svg);
    background-size: contain;
}

@keyframes vinyl_cover_spinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px) {
    .second_screen {
        height: 134vw;
        flex-direction: column-reverse;
    }

    .vinyl_records {
        width: 100vw;
        height: 64vw;
        border-bottom: white solid 0.45vw;
        border-top: white solid 0.45vw;

        flex-direction: column;
        align-items: center;
        padding-top: 1.5vw;
        overflow-y: hidden;
    }

    .vinyl_case {
        width: 100vw;
        height: 14vw;
        background: url(../img/vinyl_record_case_for_tablet.svg);
        background-size: cover;

        margin-left: 0vw;
        margin-bottom: -2vw;
        position: relative;
        padding-top: 0.5vw;
        padding-left: 7vw;
    }

    .vinyl_case:hover {
        background: url(../img/vinyl_record_case_for_tablet_hover.svg);
        background-size: cover;
        margin-bottom: 0vw;

    }

    .vinyl_records_text {
        font-size: 8vw;

        transform: rotate(0deg);
        display: flex;
        justify-content: baseline;
    }

    .vinyl_player {
        width: 100vw;
        height: 70vw;

        background: url(../img/vinyl_player_background_tablet.svg);
        background-size: contain;
    }

    .vinyl_record {
        width: 62vw;
        height: 62vw;
    }

    .vinyl_record_second_layer {
        width: 61.4vw;
        height: 61.4vw;
        background: url(../img/vinyl_record_second_layer.png) no-repeat;
        background-size: contain;
    }

    .tone_arm {
        width: 40.8vw;
        height: 70vw;
        background: url(../img/tone_arm.svg) no-repeat;
        background-size: contain;
        margin-left: -20vw;
    }

    .vinyl_cover {
        width: 25vw;
        height: 25vw;
        position: absolute;
        margin-left: -4vw;
        margin-bottom: -48vw;
        animation: vinyl_cover_spinning 5s linear infinite;
    }
}

@media screen and (min-width: 0px) and (max-width: 414px) {
    .second_screen {
        height: 134vw;
        flex-direction: column-reverse;
    }

    .vinyl_records {
        width: 100vw;
        height: 64vw;
        border-bottom: white solid 0.45vw;
        border-top: white solid 0.45vw;

        flex-direction: column;
        align-items: center;
        padding-top: 1.5vw;
        overflow-y: hidden;
    }

    .vinyl_case {
        width: 100vw;
        height: 14vw;
        background: url(../img/vinyl_record_case_for_tablet.svg);
        background-size: cover;

        margin-left: 0vw;
        margin-bottom: -2vw;
        position: relative;
        padding-top: 0.5vw;
        padding-left: 7vw;
    }

    .vinyl_case:hover {
        background: url(../img/vinyl_record_case_for_tablet_hover.svg);
        background-size: cover;
        margin-bottom: 0vw;

    }

    .vinyl_records_text {
        font-size: 8vw;

        transform: rotate(0deg);
        display: flex;
        justify-content: baseline;
    }

    .vinyl_player {
        width: 100vw;
        height: 70vw;

        background: url(../img/vinyl_player_background_tablet.svg);
        background-size: contain;
    }

    .vinyl_record {
        width: 62vw;
        height: 62vw;
    }

    .vinyl_record_second_layer {
        width: 61.4vw;
        height: 61.4vw;
        background: url(../img/vinyl_record_second_layer.png) no-repeat;
        background-size: contain;
    }

    .tone_arm {
        width: 40.8vw;
        height: 70vw;
        background: url(../img/tone_arm.svg) no-repeat;
        background-size: contain;
        margin-left: -21vw;
    }

    .vinyl_cover {
        width: 24.5vw;
        height: 24.5vw;
        position: absolute;
        margin-left: -2vw;
        margin-bottom: -47.5vw;
        animation: vinyl_cover_spinning 5s linear infinite;
    }

}